/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
package-lock.json
/package-lock.json
/package.json
package.json
/build
.env
.env.host
.env.backup
package.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
